---
# --------------------------------------------------------------------------
# KUBERNETES SECRET (Sensitive Data: Password)
# Production secrets must be Base64 encoded.
# Password 'Test@123' is encoded as 'VGVzdEAxMjM='.
# --------------------------------------------------------------------------
apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
type: Opaque
data:
  password: VGVzdEAxMjM= # Base64 encoded value for 'Test@123'

---
# --------------------------------------------------------------------------
# KUBERNETES CONFIGMAP (Non-Sensitive Data: Username)
# ConfigMaps are stored in plain text.
# --------------------------------------------------------------------------
apiVersion: v1
kind: ConfigMap
metadata:
  name: db-config
data:
  username: root # Plain text username
  # We can also store connection string here if needed:
  # jdbc-url: jdbc:mysql://mysql-svc:3306/mydb
