provisionDataStore:
  cassandra: false
  elasticsearch: true

storage:
  type: elasticsearch
  elasticsearch:
    host: elasticsearch-master.observability.svc.cluster.local
    port: 9200
    scheme: http

query:
  service:
    type: ClusterIP # Prod: internal, use Ingress

collector:
  service:
    otlp:
      grpc:
        port: 4317
      http:
        port: 4318

agent:
  enabled: false

sampling:
  strategies: |
    {
      "default_strategy": {
        "type": "probabilistic",
        "param": 0.1
      }
    }
